.button-customized {
    border: 0;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 32px;
    border-radius: 20px;
    background: linear-gradient(0.25turn, rgba(198, 69, 169, 1), rgba(88, 187, 219, 1));
}