    h1 {
        color: white;
        font-weight: 800;
        text-align: center;
        font-size: 36px !important;
    }
    
    .post-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form-item {
            margin: 20px 0
        }
        label {
            display: block;
            margin-bottom: 10px;
            line-height: 18px;
        }
        input,
        textarea {
            width: 277px;
            border: 1px solid rgba(95, 94, 94, 1);
            border-radius: 16px;
            height: 27px;
            text-indent: 12px;
        }
        textarea {
            height: 91px;
        }
    }